<!--<div class="pull-right">-->
<!--  <%= link_to("Add a job", new_job_path, :class => "btn btn-default" ) %>-->
<!--</div>-->




<div class= "col-md-10 col-centered">


    <div class="text-center">
      <%= will_paginate @jobs %>
    </div>


<div class="panel panel-default">
  <div class="panel-heading">
      <h3>
      JOB LISTING
      <div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      SORT BY
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("Sort by min salary", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("Sort by max salary", jobs_path(:order => "by_upper_bound")) %>

        </li>
        <li>
          <%= link_to("Sort by Date", jobs_path ) %>

        </li>
     </ul>
    </div>
      </h3>
      </div>
  
  <div class="panel-body">
    <table class="table table-boldered">
    <thead>
        <tr>
            <td>
                Openings</td>
            <td>Salary Min</td>
            <td>Salary Max</td>
            <td>Published Time</td>
        </tr>

    </thead>
    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td>
                <%= link_to(job.title, job_path(job)) %>
            </td>
            <td>
                <%= job.wage_lower_bound %>
            </td>
            <td>
                <%= job.wage_upper_bound %>
            </td>
            <td>
                <%= job.created_at %>
            </td>
        </tr>
        <% end %>
    </tbody>

</table>
  </div>
</div>

</div>