

<div class="col-md-8 col-centered">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1> Add a job </h1>
    </div>
    <div class="panel-body">
      <%= simple_form_for [:admin,@job] do |f| %>
  
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :wage_lower_bound, :label => "Salary Min" %>
      <%= f.input :wage_upper_bound, :label => "Salary Max" %>
      <%= f.input :contact_email %>
      
      <%= f.input :is_hidden %>
      
        <%= f.submit "Submit", class: "btn btn-danger"  %>
      <% end %>
    </div>
  </div>
</div>